[Desktop Entry]
Name=neovim
GenericName=Text Editor
Exec=nvim
Terminal=true
Type=Application
Icon=neovim.png
Keywords=Text;editor;
StartupNotify=false

