# dein.toml

# [[plugins]]
# repo = 'Shougo/vimproc.vim'
# build = 'make'

# colorscheme
[[plugins]]
repo = 'tomasr/molokai'

[[plugins]]
repo = 'altercation/vim-colors-solarized'

### Utils
[[plugins]]
repo = 'w0rp/ale'

[[plugins]]
repo = 'Shougo/deoplete.nvim'
merged = 0

[[plugins]]
repo = 'Shougo/denite.nvim'

[[plugins]]
repo = 'scrooloose/nerdtree'
hook_add = 'nnoremap <Space>n :NERDTreeToggle<CR>'

[[plugins]]
repo = 'mattn/emmet-vim'
on_ft = ['html', 'css', 'scss']
hook_add = '''
  let g:user_emmet_leader_key = '<C-y>'
  let g:user_emmet_install_global = 1
  autocmd FileType php,html,css,scss EmmetInstall
  let g:user_emmet_mode = 'i'
  let g:user_emmet_expandabbr_key='<C-e>'
  let g:user_emmet_settings = {
    \ 'variables': {
    \   'lang': "ja"
    \ },
  \ }
'''

[[plugins]]
repo = 'vim-scripts/loremipsum'

[[plugins]]
repo = 'itchyny/lightline.vim'

[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'tomtom/tcomment_vim'

[[plugins]]
repo = 'thinca/vim-quickrun'

[[plugins]]
repo = 'ctrlpvim/ctrlp.vim'
hook_add = '''
  " CtrlP
  let g:ctrlp_map = '<c-p>'
  let g:ctrlp_cmd = 'CtrlP'
'''

[[plugins]]
repo = 'vim-jp/vimdoc-ja'

[[plugins]]
repo = 'Yggdroot/indentLine'

[[plugins]]
repo = 'Shougo/neosnippet.vim'
hook_add = '''
  let g:neosnippet#snippets_directory = '~/.config/nvim/snippets/'
'''

[[plugins]]
repo = 'jiangmiao/auto-pairs'
hook_add = '''
  " Autopair
  let g:AutoPairsFlyMode = 0
  let g:AutoPairsMultilineClose = 0
  let g:AutoPairsMapBS = 1
  " undef quotes
  let g:AutoPairs = {'(':')', '[':']', '{':'}'}

  augroup autopairs_settings
    autocmd!
    autocmd FileType forth let b:AutoPairs = {'(':')',  '{':'}', '`':'`', 'T{':'}T'}
    autocmd FileType ruby let b:AutoPairs = AutoPairsDefine({"|": "|"})
    autocmd FileType rust let b:AutoPairs = AutoPairsDefine({"|": "|"})
    autocmd FileType nim let b:AutoPairs = AutoPairsDefine({'{.': '.}'})
    autocmd FileType ocaml let b:AutoPairs = AutoPairsDefine({
      \ '(*': '*)', '(**':'**)', '[|':'|]', 'match':'with',
    \})
    autocmd FileType lisp let b:AutoPairs = AutoPairsDefine({
      \ '"':'"'
    \})
  augroup END
'''

[[plugins]]
repo = 'junegunn/vim-easy-align'

[[plugins]]
repo = 'mhinz/vim-signify'

[[plugins]]
repo = 'wakatime/vim-wakatime'

# [[plugins]]
# repo = 'cohama/lexima.vim'

[[plugins]]
repo = 'junegunn/fzf'
build = './install --all'
merged = 0

[[plugins]]
repo = 'junegunn/fzf.vim'
depends = 'fzf'

### Language support

[[plugins]]
repo = 'mkanenobu/forth.vim'
on_ft = 'forth'

[[plugins]]
repo = 'mkanenobu/nvim-nim'
on_ft = 'nim'
hook_add = '''
  let g:nvim_nim_enable_default_binds = 0
  let g:nvim_nim_deps_nim = "~/.choosenim/toolchains/nim-0.19.2/lib/"
  " FIXME: 以下3つの変数は、明示的に設定されていない場合、プラグイン内で既定値が設定されるようになっているはずだが効いていない
  " plugin/nim.vim: 98, 103
  let g:nvim_nim_enable_custom_textobjects = 1
  let g:nvim_nim_highlighter_enable = 0
  let g:nvim_nim_highlighter_semantics = []
'''

[[plugins]]
repo = 'boeckmann/vim-freepascal'
on_ft = ['freepascal', 'pascal']

[[plugins]]
repo = 'pangloss/vim-javascript'
on_ft = 'javascript'

[[plugins]]
repo = 'ElmCast/elm-vim'
on_ft = 'elm'

# Deoplete sources

[[plugins]]
repo = 'Shougo/neco-vim'
on_ft = 'vim'

[[plugins]]
repo = 'Shougo/neco-syntax'

[[plugins]]
repo = 'Shougo/neosnippet-snippets'

[[plugins]]
repo = 'copy/deoplete-ocaml'
on_ft = 'ocaml'

[[plugins]]
repo = 'zchee/deoplete-jedi'
on_ft = 'python'
hook_add = '''
  " no preview
  autocmd FileType python setlocal completeopt-=preview
'''

[[plugins]]
repo = 'tbodt/deoplete-tabnine'
build = './install.sh'
