show_frame=false
fg_set=false
bg_set=true
bg=49151R 49151G 49151B
timezone=Asia/Tokyo
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%m/%d/%Y
font0=Takao Pゴシック 10
data1=%k:%M:%S
font1=
tooltip=%A %d %B %Y/%V
hib_timing=true

