[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mika/update_packages.sh]
row=4
col=0

[/home/mika/fgo_timer.py]
row=3
col=0

[/home/mika/examples.desktop]
row=6
col=0

[/home/mika/Git]
row=9
col=0

[/home/mika/ksu_proxy_swich.sh]
row=7
col=0

[/home/mika/ubuntu_setup.sh]
row=5
col=0

[/home/mika/Pictures]
row=2
col=0

[/home/mika/Downloads]
row=0
col=1

[/home/mika/Music]
row=0
col=0

[/home/mika/Workspace]
row=8
col=0

[/home/mika/Documents]
row=1
col=0

